repos:
-   repo: https://github.com/ambv/black
    rev: 24.8.0
    hooks:
    - id: black
      language_version: python3
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
    - id: flake8
